
.test{
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: darkgray;
}
.flex{
    display: flex;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-space-around{
    justify-content: space-around;
}
.flex-space-between{
    justify-content: space-between;
}
.instructions-container{
    margin: 100px 0;
}
.instruction{
    min-width: 300px;
}
.player-input{
    width: 210px;
    height: 30px;
    border-radius: 6px;
    margin-right:10px ;
    line-height: 30px;
}
.button-submit{
    width: 80px;
    height: 35px;
    border-radius: 5px;
}
.button-buttle{
    min-width: 200px;
    min-height: 40px;
    margin: 20px;
    font-size: 20px;
    border-radius: 5px;
}
.button-reset{
    min-width: 200px;
    min-height: 40px;
    margin: 20px;
    font-size: 20px;
    border-radius: 5px;
}
.playerh2{
    margin: 10px 0 10px 0;
}
.getPlayer{
    width: 300px;
    height: 60px;
    line-height: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.08)
}
.button-del{
    border: none;
    background: rgba(0, 0, 0, 0)
}
.lineheight{
    line-height: 60px;
}
.disable-button{
    opacity:0.5;
    pointer-events:none;
 }